/* GENERALI */
.debug{
    border: 1px solid black;
}
#avatar-logo{ /* immagine avatar */
    height: 250px;
}
#floatingTextarea{
    height: 200px;
}
/* colori sfondi */
.my-bg-blue{
    background-color: #2C3E50;
}
.my-bg-lightblue{
    background-color: #3A546D;
}
.my-bg-green{
    background-color: #1ABC9C;
}
.my-icon{ /* icone social footer */
    height: 40px;
    width: 40px;
    line-height: 40px;
}
.my-rounded{ /* bordi stondati portfolio */
    border-radius: 18px;
}
/* linee a lato della stella */
.my-white-hr{
    height: 5px;
    background-color: white;
    border-radius: 3px;
}
.my-black-hr{
    height: 5px;
    background-color: #333333;
    border-radius: 3px;
}
/* bottoni */
#section-four form div input, #section-four form div textarea{
    border-top: none;
    border-left: none;
    border-right: none;
}
.my-text-green{
    color: #1ABC9C;
}
.my-green-text-hover:hover{
    color: #1ABC9C;
}
#my-send-btn{
    background-color: #1ABC9C;
    border: none;
}
#my-send-btn:hover{
    background-color: rgb(46, 207, 175);
}