.debug{
    border: 1px solid black;
}
.my-nav{
    height: 100px;
}
.my-bg-blue{
    background-color: #2C3E50;
}
.my-bg-lightblue{
    background-color: #3A546D;
}
.my-bg-green{
    background-color: #1ABC9C;
}
.my-text-green{
    color: #1ABC9C;
}
.my-icon{
    height: 50px;
    width: 50px;
}
#avatar-logo{
    height: 250px;
}
.my-rounded{
    border-radius: 18px;
}
.my-form{
    height: 50vh;
}
.my-white-hr{
    height: 5px;
    border: 1px solid white;
    background-color: white;
    border-radius: 3px;
}
.my-black-hr{
    height: 5px;
    border: 1px solid #333333;
    background-color: #333333;
    border-radius: 3px;
}